#container {
    margin: 1.5rem;
}
#errorlogcontainer {
    /* position: fixed; */
    height: 40vh;
    bottom: 0;
    padding: 20px;
    background-color: black;
    width:100vw;
    overflow: auto;
    color: white;
}

#errorlogcontainer .url{
    color:#1890ff;
}
div {
    white-space: pre-wrap;
}
body {
  background: #fff;
}
